* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* made it flex (row) to separate into two, wrap it
to contain it in the box and used space around to
make a space between them */
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-image img {
    width: 400px;
}

/* I center all the items first
to make it look decent */
.box .box1 { 
    text-align: center;
    width: 600px;
}
/* made the <ul> inline-block and align it to the left
so that the text of the list will be straight vertically */
.box1 ul {
    display: inline-block;
    text-align: left;
}

/* made it flex (column) and align it center
to make it look decent and wrap it to contain the text inside 
the box */
.box2 h4, ol  {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 600px;
}

/* made the list inline-block and align it to the left
so that the text will align straightly left */
.box2 ol {
    display: inline-block;
    text-align: left;
}

.box2 li {
    line-height: 2;
}

.box .box1 .main-list {
    columns: 2;
    margin-left: 50px;
}